h1 {
    text-align: center;
    font-size: 100px;
    font-family: Fasthand;
  }
  .card {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(241, 7, 7);
    margin: 10px;
    display: inline-block;
    cursor: pointer;

  }

  #game div {
    border: 1px solid black;
    width: 15%;
    height: 200px;
    margin: 10px;
    display: inline-block;
  }

  body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(12, 6, 129) 0%, rgba(191, 22, 206, 0.845) 26%, rgb(22, 196, 231) 100%); 
  }